{{ form_start(form) }}
        <p>Ajouter des images</p>
        <ul class="image" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
        {% for image in form.images %}
            <li>{{ form_row(image.image) }}</li>
        {% endfor %}
        </ul>
        <p>Ajouter des liens de vidéos (youtube uniquement)</p>
        <ul class="video" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
            {% for video in form.videos %}
                <li>{{ form_row(video.url) }}</li>
            {% endfor %}
        </ul>
        <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
