{% extends 'base.html.twig' %}

{% block title %}Trick{% endblock %}

{% block body %}
    <div class="trick-page">
        <div class="row justify-content-center margin-bottom margin-top">
            <a href="{{ path('home') }}" class="btn btn-info col-md-2"> Retour </a>
            <div class="col-md-6"></div>
        </div>
        <div class="img-presentation justify-content-center row">
            <img src="/assets/images/{{ trick.imageName }}" class="col-8">
        </div>
        <div class="row justify-content-center">
            <h1 class="col-7">{{ trick.title }}</h1>
            <div class="col-1 row">
                <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="col-2"><img src="/assets/images/logo-edit.png" alt="modifier"></a>
                <a class="col-2">{{ include('trick/_delete_form.html.twig') }}</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <p class="col-8">{{ trick.chapo }}</p>
        </div>
        <div class="row justify-content-center text-center">
            <p class="col-8">{{ trick.content }}</p>
        </div>
        <div class="row justify-content-center">
            <p class="col-2"> Créé le : {{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</p>
            <p class="col-2"> Mis à jour le : {{ trick.updatedAt ? trick.updatedAt|date('Y-m-d H:i:s') : '' }} </p>
            <p class="col-2"> Créé par : {{ trick.user }} </p>
        </div>
    </div>
{% endblock %}
